:root {
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0,0,0,0,3);
    --shadow-light: rgba(255,255,255,0.1);
    --white: #FFF;
    --yellow-1: #FAC742;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--blue-1);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100vh;
    justify-content: center;
    width: 100%
}

.container {
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px;
    height: 88vh;
    width: 400px;
}

.upper-data {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.lower-data {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: hidden;
    padding: 1em;
    position: relative;
    width: 100%;
}

.upper-data img {
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.weather-data {
    align-items: center;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.location {
    color: var(--white);
    font-size: 1.2em;
    text-align: center;
}

.temperature {
    color: var(--white);
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}

.more-info-label {
    color: var(--white);
}

.more-info-container {
    background-color: var(--shadow-light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
}

.info-block {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.info-block-label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.info-block-label img {
    width: 1em;
}

.info-block-label span {
    color: var(--white);
    font-size: 0.8em; 
}

.info-block-value {
    align-items: center;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    width: 50%;
}